@font-face {
    font-family: "Chillax";
    src: url(./Fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: "Satoshi";
    src: url(./Fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: "Roboto";
    src: url(./Fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}


:root {
    --mainColor: #121212;
    --secondaryColor: #1e1e1e;
    --yellow: #cebd63;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    background-color: var(--mainColor);

    nav {
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            .name {
                color: white;
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                font-family: "Satoshi";
                text-transform: uppercase;
                margin-left: 0.8rem;
                cursor: pointer;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            font-family: "Roboto";

            .cart {
                width: fit-content;
                padding: 1rem 1.3rem;
                background-color: var(--secondaryColor);
                color: white;
                letter-spacing: 1px;
                font-size: 0.9rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                cursor: pointer;

                .num {
                    height: 1.3rem;
                    width: 1.3rem;
                    background: var(--yellow);
                    border-radius: 50%;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.7rem;
                }
            }

            .touch {
                width: fit-content;
                padding: 0.9rem 1.3rem;
                ;
                background-color: var(--yellow);
                color: black;
                font-weight: 400;
                letter-spacing: 1px;
                font-size: 0.9rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
                cursor: pointer;
            }

            .touch:hover {
                background: #ad9d49;
            }

            .hamburger {
                padding: 1rem 1rem;
                background-color: var(--secondaryColor);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                border-radius: 0.5rem;
                cursor: pointer;

                .line1 {
                    height: 2px;
                    width: 2rem;
                    background: white;
                }

                .line2,
                .line3 {
                    height: 1px;
                    width: 2rem;
                    background: white;

                }
            }

        }
    }

    #page1 {
        width: 100%;

        .part1 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 1rem;

            .main {
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }

            .texter {
                width: 100%;
                background: var(--secondaryColor);
                display: flex;
                flex-direction: column;
                gap: 5rem;
                padding: 2rem;
                color: white;
                border-radius: 1rem;

                .title {
                    font-size: 0.9rem;
                    font-weight: 400;
                    font-family: "Roboto";
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;

                    h4 {
                        font-family: "Chillax";
                        font-size: 2.8rem;
                        line-height: 3.3rem;
                        text-transform: uppercase;
                        font-weight: 400;
                    }

                    h5 {
                        font-family: "Satoshi";
                        width: 95%;
                        font-size: 1.3rem;
                        word-spacing: 0.2rem;
                        line-height: 2rem;
                        color: #9E9D9A;
                    }

                    .story {
                        display: flex;
                        align-items: center;
                        gap: 0.7rem;
                        font-family: "Roboto";
                        text-transform: uppercase;
                        font-size: 0.9rem;
                        margin-top: 1rem;
                        cursor: pointer;

                        .button {
                            border: 0.5px solid rgba(255, 255, 255, 0.168);
                            padding: 0.7rem 0.7rem;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #292929;
                        }
                    }
                }
            }
        }

        .part2 {
            padding: 2.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.7rem;
            width: 100%;

            .top,
            .bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                gap: 7rem;
                text-transform: uppercase;


                .left,
                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.4rem;
                }

                h5 {
                    font-family: "Roboto";
                    font-weight: 400;
                    font-size: 1rem;
                    color: rgba(255, 255, 255, 0.475);
                }

                h1 {
                    font-family: "Chillax";
                    font-weight: 400;
                    font-size: 2.8rem;
                }
            }
        }

    }

    #page2 {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .second {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 1rem;
        }

        .texter2 {
            width: 100%;
            aspect-ratio: 1/1;
            background: var(--secondaryColor);
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding: 2rem;
            color: white;
            border-radius: 1rem;

            .title {
                font-size: 0.9rem;
                font-weight: 400;
                font-family: "Roboto";
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                h4 {
                    font-family: "Chillax";
                    font-size: 2.3rem;
                    line-height: 3rem;
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .h5 {
                    h5 {
                        display: inline;
                        font-family: "Satoshi";
                        width: 95%;
                        font-size: 1rem;
                        word-spacing: 0.2rem;
                        line-height: 1.6rem;
                        color: #9E9D9A;
                    }
                }
            }
        }
    }

    #page3 {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .second {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 1rem;
        }

        .texter2 {
            width: 100%;
            aspect-ratio: 1/1;
            background: var(--secondaryColor);
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding: 2rem;
            color: white;
            border-radius: 1rem;

            .title {
                font-size: 0.9rem;
                font-weight: 400;
                font-family: "Roboto";
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                h4 {
                    font-family: "Chillax";
                    font-size: 2.3rem;
                    line-height: 3rem;
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .h5 {
                    h5 {
                        display: inline;
                        font-family: "Satoshi";
                        width: 95%;
                        font-size: 1rem;
                        word-spacing: 0.2rem;
                        line-height: 1.6rem;
                        color: #9E9D9A;
                    }
                }
            }
        }
    }

    #page4 {
        width: 100%;

        .title {
            padding: 2rem 3rem;
            font-size: 2rem;
            font-family: "Chillax";
            color: white;
            text-transform: uppercase;
        }

        .container {
            padding: 1rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .cont {
                width: 100%;
                background-image: url(./Assets/1.webp);
                aspect-ratio: 1/1;
                background-position: center;
                background-size: cover;
                padding: 1rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 17rem;

                .top {
                    display: flex;
                    align-items: end;
                    gap: 0.5rem;
                    padding: 1rem;
                    justify-content: end;

                    .icon {
                        padding: 0.7rem 0.7rem;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.099);
                        backdrop-filter: blur(20px);
                        border: 1px solid rgba(255, 255, 255, 0.295);
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                }

                .bottom {
                    text-transform: uppercase;
                    border-radius: 0.5rem;
                    padding: 1.5rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    font-family: "Roboto";
                    background: rgba(255, 255, 255, 0.099);
                    backdrop-filter: blur(20px);
                    border: 1px solid rgba(255, 255, 255, 0.199);

                    .name {
                        font-size: 1.2rem;
                        font-family: "Chillax";
                    }

                }
            }

            .cont1 {
                width: 100%;
                aspect-ratio: 1/1;
                background-image: url(./Assets/2.webp);
                background-position: center;
                background-size: cover;
                padding: 1rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 17rem;

                .top {
                    display: flex;
                    align-items: end;
                    gap: 0.5rem;
                    padding: 1rem;
                    justify-content: end;

                    .icon {
                        padding: 0.7rem 0.7rem;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.099);
                        backdrop-filter: blur(20px);
                        border: 1px solid rgba(255, 255, 255, 0.295);
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                }

                .bottom {
                    text-transform: uppercase;
                    border-radius: 0.5rem;
                    padding: 1.5rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    font-family: "Roboto";
                    background: rgba(255, 255, 255, 0.099);
                    backdrop-filter: blur(20px);
                    border: 1px solid rgba(255, 255, 255, 0.199);

                    .name {
                        font-size: 1.2rem;
                        font-family: "Chillax";
                    }

                }
            }

            .cont2 {
                width: 100%;
                background-image: url(./Assets/3.webp);
                background-position: center;
                background-size: cover;
                padding: 1rem;
                aspect-ratio: 1/1;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 17rem;

                .top {
                    display: flex;
                    align-items: end;
                    gap: 0.5rem;
                    padding: 1rem;
                    justify-content: end;

                    .icon {
                        padding: 0.7rem 0.7rem;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.099);
                        backdrop-filter: blur(20px);
                        border: 1px solid rgba(255, 255, 255, 0.295);
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                }

                .bottom {
                    text-transform: uppercase;
                    border-radius: 0.5rem;
                    padding: 1.5rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    font-family: "Roboto";
                    background: rgba(255, 255, 255, 0.099);
                    backdrop-filter: blur(20px);
                    border: 1px solid rgba(255, 255, 255, 0.199);

                    .name {
                        font-size: 1.2rem;
                        font-family: "Chillax";
                    }

                }
            }

        }
    }

    #page5 {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .second {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
            border-radius: 1rem;
        }

        .texter2 {
            width: 100%;
            aspect-ratio: 16/9;
            background: var(--secondaryColor);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            border-radius: 1rem;

            .title {
                color: rgba(255, 255, 255, 0.351);
                font-size: 0.9rem;
                font-weight: 400;
                font-family: "Roboto";
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 4rem;
                color: white;

                h4 {
                    font-family: "Chillax";
                    font-size: 2.3rem;
                    line-height: 3rem;
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .job {
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
                    font-family: "Roboto";
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    margin-top: 1rem;
                    cursor: pointer;

                    .button {
                        border: 0.5px solid rgba(255, 255, 255, 0.168);
                        padding: 0.7rem 0.7rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #292929;
                    }
                }

                .job:hover {
                    background: #161616;
                }
            }
        }
    }

    #page6 {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .texter2 {
            width: 100%;
            aspect-ratio: 16/9;
            background: var(--yellow);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            border-radius: 1rem;

            .title {
                color: rgba(0, 0, 0, 0.642);
                font-size: 0.9rem;
                font-weight: 400;
                font-family: "Roboto";
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
                color: black;

                h4 {
                    font-family: "Chillax";
                    font-size: 3rem;
                    line-height: 3.2rem;
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .job {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: black;
                    color: white;
                    gap: 0.7rem;
                    font-family: "Roboto";
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    margin-top: 1rem;
                    padding: 1rem;
                    cursor: pointer;
                    border-radius: 1rem;

                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    footer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .top {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            gap: 5rem;
            border-radius: 1rem;
            background: var(--secondaryColor);

            .upar {
                font-family: "Satoshi";
                color: white;
                text-transform: uppercase;
                font-size: 1.2rem;
            }

            .neeche {
                display: flex;
                align-items: end;
                gap: 0.5rem;
                justify-content: start;

                .icon {
                    padding: 0.7rem 0.7rem;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.099);
                    backdrop-filter: blur(20px);
                    border: 1px solid rgba(255, 255, 255, 0.295);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

            }
        }

        .center {
            display: flex;
            flex-wrap: wrap;
            padding: 1rem;
            background: var(--secondaryColor);
            border-radius: 1rem;

            .part {
                flex-shrink: 0;
                width: 50%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                color: white;
                text-transform: uppercase;

                .title {
                    font-size: 1.5rem;
                    font-family: "Chillax";
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    font-size: 1rem;
                    color: rgba(255, 255, 255, 0.432);

                    li {
                        list-style: none;
                        font-family: "Roboto";
                    }
                }

                .temp {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    background: var(--yellow);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    font-family: "Roboto";
                }
            }
        }

        .bottom {
            padding: 1rem;
            background: var(--secondaryColor);
            border-radius: 1rem;
            text-align: center;
            font-family: "Roboto";
            color: rgba(255, 255, 255, 0.37);
            text-transform: uppercase;

            h4 {
                font-weight: 400;
                line-height: 2rem;

                a {
                    color: white;
                }
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }

        }
    }


}


@media (min-width:1000px) {
    main {
        #page1 {
            .part1 {
                flex-direction: row;

                .main,
                .texter {
                    width: 50%;
                }

                .texter {
                    padding: 4rem;
                    gap: 16rem;

                    .content {
                        gap: 1.5rem;

                        h4 {
                            font-size: 4.1rem;
                            line-height: 4.6rem;
                        }

                        h5 {
                            width: 80%;
                        }

                        .story {
                            svg {
                                transition: all 0.5s ease;
                            }

                            .button {
                                position: relative;
                                overflow: hidden;

                                .hover {
                                    position: absolute;
                                    top: -100%;
                                }
                            }

                            .button:hover .hover {
                                animation: down 0.2s 1 forwards ease-in-out;
                            }

                            .button:hover .svg1 {
                                // animation: name duration timing-function delay iteration-count direction fill-mode;
                                animation: down 0.2s 1 forwards ease-in-out;
                            }
                        }
                    }
                }
            }

            .part2 {
                padding: 4rem;
                flex-direction: row;
                justify-content: space-around;

                .top,
                .bottom {
                    gap: 15rem;

                    .left,
                    .right {
                        gap: 0.2rem;
                    }

                    h5 {
                        font-size: 0.9rem;
                    }

                    h1 {
                        font-size: 4rem;
                    }
                }
            }
        }

        #page2 {
            flex-direction: row-reverse;

            .second,
            .texter2 {
                width: 50%;
                aspect-ratio: 1/1;
            }

            .texter2 {
                padding: 4rem;
                gap: 17rem;

                .content {
                    h4 {
                        font-size: 3.2rem;
                        line-height: 3.7rem;
                    }

                    .h5 {
                        display: flex;
                        gap: 1rem;

                        h5 {
                            width: 20rem;
                            font-size: 1.2rem;
                            line-height: 1.9rem;
                        }
                    }
                }
            }
        }

        #page5 {
            flex-direction: row;

            .second,
            .texter2 {
                width: 50%;
                aspect-ratio: 16/9;
            }

            .texter2 {
                padding: 4rem;

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 10rem;

                    h4 {
                        font-size: 3.2rem;
                        line-height: 3.7rem;
                    }


                    .story {
                        svg {
                            transition: all 0.5s ease;
                        }

                        .button {
                            position: relative;
                            overflow: hidden;

                            .hover1 {
                                position: absolute;
                                top: -100%;
                            }
                        }

                        .button:ho1ver .hover {
                            animation: down 0.2s 1 forwards ease-in-out;
                        }

                        .button:hover .svg1 {
                            // animation: name duration timing-function delay iteration-count direction fill-mode;
                            animation: down 0.2s 1 forwards ease-in-out;
                        }
                    }
                }
            }
        }

        #page6 {

            .texter2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                aspect-ratio: 5/1;

                .content {
                    display: flex;
                    flex-direction: row;
                    gap: 10rem;
                    align-items: end;
                    justify-content: space-between;

                    h4 {
                        width: 60%;
                        font-size: 5rem;
                        line-height: 5rem;
                    }


                    .story {
                        svg {
                            transition: all 0.5s ease;
                        }

                        .button {
                            position: relative;
                            overflow: hidden;

                            .hover1 {
                                position: absolute;
                                top: -100%;
                            }
                        }

                        .button:ho1ver .hover {
                            animation: down 0.2s 1 forwards ease-in-out;
                        }

                        .button:hover .svg1 {
                            // animation: name duration timing-function delay iteration-count direction fill-mode;
                            animation: down 0.2s 1 forwards ease-in-out;
                        }
                    }
                }
            }
        }

        #page3 {
            flex-direction: row;

            .second,
            .texter2 {
                width: 50%;
                aspect-ratio: 1/1;
            }

            .texter2 {
                padding: 4rem;
                gap: 17rem;

                .content {
                    h4 {
                        font-size: 3.2rem;
                        line-height: 3.7rem;
                    }

                    .h5 {
                        display: flex;
                        gap: 1rem;

                        h5 {
                            width: 20rem;
                            font-size: 1.2rem;
                            line-height: 1.9rem;
                        }
                    }
                }
            }
        }

        #page4 {
            .title {
                font-size: 3rem;
            }

            .container {
                flex-direction: row;

            }
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 3fr 1fr;
            grid-template-areas: "left righttop"
                "left rightbottom";

            .top {
                grid-area: left;
            }

            .center {
                grid-area: righttop;
                gap: 2rem;
                .part {
                    width: 30%;
                }
            }
            
            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                grid-area: rightbottom;
            }
        }
    }
}


@keyframes down {
    from {
        transform: translateY(0);
    }

    to {

        transform: translateY(55px);
    }
}