* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

main {
  height: 100%;
  background: black;

  .writer {
    position: absolute;
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 50%;
    z-index: 10;
  }

  .img {
    height: 100%;
    background: url('./image.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    .hoverer {
      position: absolute;
      z-index: 10;
      height: 100px;
      width: 100px;
      mix-blend-mode:screen;
      border-radius: 50%;
      background: black;
      box-shadow: 0 0 50px 40px red;
    }

    .img-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black
    }
  }
}