* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --x: 300px;
    --y: 300px;
}

main {
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapercave.com/wp/wp4456064.png');
    background-position: center;
    background-size: cover;

    #box {
        height: 100%;
        width: 100%;
        background: radial-gradient(120px at var(--x) var(--y), transparent, rgb(0,0,0,0.9));
        border-radius: 1rem;
    }
}