* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

@property --border{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes borderanim {
    from {
        --border:0deg
    }to{
        --border:360deg
    }
}

main {
    height: 100%;
    width: 100%;
    background: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        height: 35rem;
        width: 22rem;
        border-radius: 1rem;
        padding: 5px;
        background:
            linear-gradient(black) padding-box,
            conic-gradient(from var(--border),black,black,black,red,black,black,black) border-box
        ;
        border: 7px solid transparent;
        animation: borderanim 5s linear infinite;
    }
}