* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(59, 59, 59);
    color: white;
}

@property --rotate{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotator {
    from {
        --rotate:0deg;
    }to {
        --rotate:360deg;
    }
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        height: 500px;
        width: 300px;
        border-radius: 1rem;
        background:
            linear-gradient(rgb(0, 0, 0)) padding-box,
            conic-gradient(from var(--rotate),black, black, red,black,black,black,black) border-box;
        border: 5px solid transparent;
        animation: rotator 3s linear infinite;
    }
}