@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url(./assets/Poppins-Medium.ttf);
}

* {
  font-family: Poppins;
}


.conta {
  clip-path: polygon(0% 15%, 0 0, 15% 0%, 64% 0, 79% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}

.insider::after {
  content:"";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 4;
  width: 0;
  transition: all 0.5s ease;
  background: rgba(156, 61, 191, 0.228);
}

.insider:hover::after {
  width: 100%;
}