* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: black;
    color: rgb(40, 209, 21);
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        font-size: 6rem;
        text-transform: uppercase;
    }
}