@font-face {
  font-family: jump;
  src: url(./Font/Higher\ Jump.ttf);
}
/* @font-face {
  font-family: Yultan;
  src: url(./Font/Yulltan-Regular.ttf);
} */

::selection {
  color: none;
  background: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: black;
}

canvas {
  position: fixed;
  top: 10;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: url("./wal4.jpg");
  background-position: center;
  background-size: cover;

  nav {
    height: 5rem;
    width: min(50%, 1200px);
    font-size: 1rem;
    position: fixed;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.605);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 6rem;
    border: 1px solid rgba(23, 23, 23, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    z-index: 100;

    ul {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 0.5rem;
      padding: 0 1.5rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 700;

      li {
        list-style-type: none;
        cursor: pointer;
        padding: 0.65rem 1.5rem;
        border-radius: 1rem;
        border: 1px solid transparent;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding: 10px 20px;
        transition: color 0.3s ease;

        &:hover {
          border: 2px solid rgba(255, 255, 255, 0.249);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
  }

  .abover {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.052);
    backdrop-filter: blur(5px);
    padding-top: 1rem;
  }
}

.pages {
  min-height: 100%;
  width: 100%;
  
  .hero-heading-front {
    font-family: jump;
    font-size: 10rem;
    line-height: 0rem;
    pointer-events: none;
    text-align: center;
    color: rgba(180, 15, 15, 0.925);
    text-transform: uppercase;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  #page-1 {
    height: 100vh;
    width: 100%;

    .hero-heading {
      font-family: jump;
      font-size: 10rem;
      line-height: 13rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      pointer-events: none;
      margin-top: 15rem;
    }
  }
  #page-2 {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
}

.selected-nav-item {
  color: #db3434;
}

.selected-nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #000, #db3434, #000);
  border-radius: 2px;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
