@font-face {
    font-family: "pokemon";
    src: url(./Font/Pokemon\ Solid.ttf);
}
@font-face {
    font-family: "pop";
    src: url(./Font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


#main {
    min-height: 100vh;
    background: white;
    width: 100%;

    h1 {
        font-size: 5vw;
        font-family: "pokemon";
        color: yellow;
        text-shadow:
            2px 2px 0 black,
            -2px 2px 0 black,
            2px -2px 0 black,
            -2px -2px 0 black;
        text-align: center;
    }

    #parent {
        min-height: 70vh;
        width: 100%;
        display: flex;
        gap: 2vw;
        flex-wrap: wrap;

        .card {
            height: 25vw;
            width: 18vw;
            background: white;
            border-radius: 0.5vw;
            position: relative;
            overflow: hidden;
            font-family: "pop";
            box-shadow: 5px 5px 30px black;


            .hp {
                background: white;
                color: black;
                position: absolute;
                right: 1vw;
                top: 1vw;
                z-index: 10;
                text-align: center;
                padding: 0.5vw 1vw;
                border-radius: 0.5vw;
                font-weight: 400;
            }

            .topper {
                position: absolute;
                height: 18vw;
                width:18vw;
                background: #ED9329;
                border-radius: 50%;
                transform: translateY(-50%);
            }

            .imgdiv {
                height: 15vw;
                width: 100%;
                position: relative;

                img {
                    height: 70%;
                    width:70%;
                    object-fit: contain;
                    position: absolute;
                    left: 20%;
                    top: 20%;
                }
            }

            .name {
                font-size: 1.5vw;
                font-weight: 900;
                text-align: center;
            }

            .type {
                background: #ED9329;
                color: black;
                z-index: 10;
                text-align: center;
                max-width: 7vw;
                margin: auto;
                padding: 0.5vw 1vw;
                border-radius: 1vw;
                font-weight: 400;
                margin-top: 3vw;
            }

        }

        .card:hover {
            cursor: pointer;
        }
    }


}