@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

.name::after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 0%;
  background:red;
  left: 0;
  bottom: -0.3rem;
  transition: all 0.5s linear;
}

.name:hover::after {
  width: 100%;
}


@keyframes ghoom {
  from {
    transform: translateX(0);
  }to {
    transform: translateX(-10%);

  }
}

.ghoomer {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: ghoom 20s alternate-reverse infinite;
}