@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "Font1";
  src: url(./assets/font2.ttf);
}

* {
  font-family: "Font1";
}

@keyframes move-left {
  from {
    transform: translateX(-50%);
  }to{
    transform: translateX(0);
  }
}

@keyframes move-right {
  from {
    transform: translateX(0);
  }to{
    transform: translateX(-50%);
  }
}

.text-line-1 {
  animation: move-left 17s linear forwards infinite;
}
.text-line-2 {
  animation: move-right 17s linear forwards infinite;
}

#demand-text {
  animation: text-animation 0.5s linear infinite forwards;
}
#demand-text:hover {
  transform: scaleY(10px);
}

@keyframes text-animation {
  from {
    font-style: italic;
    color: red;
  } to {
    font-style: normal;
  }
}

#icon-box::before {
  content:"";
  height:100%;
  width: 0%;
  position: absolute;
  inset: 0;
  left: 50%;
  z-index: -1;
  background: rgba(255, 0, 0, 0.208);
  transition: all 0.5s ease;
  border-radius: 50%;
}

#icon-box:hover::before {
  width: 100%;
  border-radius: 0px;
  left: 0;
}

.pages {
  height: 500vh;
  position: relative;
}

#main-three-part {
  height: 100vh;
  width: 100%;
  position:fixed;
  left: -100%;
  top: 0;
  z-index: 100;
  background: #0c0c0c00;
}

#canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#porsche-text {
  animation: porsche-anim 1s ease infinite alternate;
}
#porsche-text-two {
  animation: porsche-anim 1s ease infinite alternate;
}

@keyframes porsche-anim {
  from {
    letter-spacing: 1.5vw;
  }to {
    letter-spacing: 0;
  }
}

.flip {
  transform: rotateX(180deg);
}

.p1 {
  clip-path: polygon(
  0% 10%,
  5% 0%,
  95% 0%,
  100% 10%,
  100% 90%,
  95% 100%,
  5% 100%,
  0% 90%
);
}